/*  봐주셨으면 하는 포인트입니다!
    1) class를 너무 많이 썼을까요?
    2) 실무에서 이건 전혀 이렇게 안하는데! 하는 부분이 있을까요?
    3) header태그를 너무 자잘하게 썼나요?(헤더태그가 되게 중요하다 생각해서 h3까지 썼는데 h3는 많이 안쓰는 거 같아서요!)
    4) 이렇게 쓰면 팀원이 보기에 불편하다! 따뜻한 코딩이 아니다! 하는 부분이 있을까요? (ex. 이름짓기, 코드 가독성, 순서 etc)
*/

/* 초기화 */
body, .wrapper, .header-txt, h2, ul, h3, li, p {
    margin: 0;
}
.wrapper {
    background-color: #111111;
    width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 50px;
}
li {
    list-style: none;
}
ul {
    padding: initial;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-size: initial;
    font-weight: initial;
}

body {
    background-color: black;
}
/* header 스타일코드 */
header {
    width: 1400px;
    height: 115px;
    background-color: 222222;
    background-image: url(images/anger.png);
    background-repeat: no-repeat;
    background-size: 115px;
    background-position-x: right;
}
.logo-hidden {
    display: none;
}
.header-line, .header-txt {
    display: inline-block;
}
.header-line {
    width: 65px;
    height: 23px;
    margin-left: 35px;
    margin-right: 15px;
    border-bottom: 2px solid #8E8E8E;
    vertical-align: top;
}
.header-txt {
    font-size: 10px;
    vertical-align: top;
    /* 수치를 직접 계산해서 중앙정렬했는데, 더 효율적인 프로퍼티가 있을 거 같습니다! */
    margin-top: 20px; 
}
.anger {
    width: 130px;
    vertical-align: bottom;
}
/* main 스타일코드 */
main {
    width: 1400;
    margin-top: 35px;
}
/* nav 스타일 코드 */
nav {
    width: 200px;
    display: inline-block;
    float: left;
}
.nav-ul-div {
    background-color: #222222;
}
.nav-icon {
    width: 10px;
    vertical-align: middle;
}
.nav-h2 {
    color: #676767;
    display: inline-block;
    font-size: 12px;
    margin-left: 4px;
    margin-bottom: 12px;
}
.nav-ul {
    padding: 12px 0;
    border-top: 1px solid #F07B6F;
}
.nav-ul h3 {
    font-size: 12px;
    margin-left: 10px;
    color: #F07B6F;
    margin-bottom: 20px;
}
.nav-ul li {
    font-size: 10px;
    color: #676767;
    margin-left: 20px;
    padding: 7px 0;
    
}
.nav-ul-div .nav-ul .nav-li-border {
    border-top: 1px solid #676767;
    border-bottom: 1px solid #676767;
}

/* contents 스타일코드 */
.contents {
    display: inline-block;
    float: left;
    margin: 15px;
}
section {
    background-color: #222222;
    width: 300px;
    height: 340px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
}
.first-movies {
    display: inline-block;
    float: left;
}
.movie-title{
    font-size: 12px;
    margin: 10px 10px;
    color: #F8BBC6;
} 
.movie-info {
    height: 70px;
    font-size: 10px;
    color: white;
    font-weight: 200;
    margin: 10px;
}
.watch-now {
    display: block;
    background-color: black;
    color: #E93F02;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    font-weight: 200;
    padding: 10px 0;
    margin: 10px;
}
